Repository vr-je-palette-picker/palette-picker-front-end, pull requests merged in 2019-12, with the labels that each got.

#1 Add PR template to repository
  .github/pull_request_template.md
Labels: documentation

#17 Frontend setup
  package-lock.json
  package.json
  src/App.js
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/App/App.test.js
  src/Components/ColorCard/ColorCard.js
  src/Components/ColorCard/ColorCard.scss
  src/Components/ColorCard/ColorCard.test.js
  src/Components/Container/Container.js
  src/Components/Container/Container.scss
  src/Components/Container/Container.test.js
  src/Components/HomeNav/HomeNav.js
  src/Components/HomeNav/HomeNav.scss
  src/Components/HomeNav/HomeNav.test.js
  src/Components/Nav/Nav.js
  src/Components/Nav/Nav.scss
  src/Components/Nav/Nav.test.js
  src/Components/PaletteCard/PaletteCard.js
  src/Components/PaletteCard/PaletteCard.scss
  src/Components/PaletteCard/PaletteCard.test.js
  src/Components/PaletteForm/PaletteForm.js
  src/Components/PaletteForm/PaletteForm.scss
  src/Components/PaletteForm/PaletteForm.test.js
  src/Components/ProjectContainer/ProjectContainer.js
  src/Components/ProjectContainer/ProjectContainer.scss
  src/Components/ProjectContainer/ProjectContainer.test.js
  src/Components/ProjectNav/ProjectNav.js
  src/Components/ProjectNav/ProjectNav.scss
  src/Components/ProjectNav/ProjectNav.test.js
  src/index.js
  src/index.scss
  src/setupTests.js
Labels: fe setup

#29 Patch delete api calls
  src/utils/apiCalls/apiCalls.js
  src/utils/apiCalls/apiCalls.test.js
Labels: test

#32 Testing vr
  package.json
  src/Components/App/App.js
  src/Components/ColorCard/__snapshots__/ColorCard.test.js.snap
  src/Components/Container/__snapshots__/Container.test.js.snap
  src/Components/HomeNav/__snapshots__/HomeNav.test.js.snap
  src/Components/PaletteCard/__snapshots__/PaletteCard.test.js.snap
  src/Components/ProjectContainer/__snapshots__/ProjectContainer.test.js.snap
  src/Components/ProjectNav/__snapshots__/ProjectNav.test.js.snap
  src/Components/ProjectPage/__snapshots__/ProjectPage.test.js.snap
  src/utils/apiCalls/apiCalls.js
  src/utils/apiCalls/apiCalls.test.js
  src/utils/helpers/helpers.test.js
  src/utils/mockData.js
Labels: test

#37 FE Testing
  src/Components/Container/__snapshots__/Container.test.js.snap
  src/Components/PaletteForm/PaletteForm.js
  src/Components/PaletteForm/PaletteForm.test.js
  src/Components/PaletteForm/__snapshots__/PaletteForm.test.js.snap
  src/Components/ProjectNav/ProjectNav.js
  src/Components/ProjectNav/ProjectNav.test.js
Labels: enhancement, help wanted, test

#39 Testing vr
  src/Components/ColorCard/ColorCard.test.js
  src/Components/ColorCard/__snapshots__/ColorCard.test.js.snap
  src/Components/Container/Container.test.js
  src/Components/Container/__snapshots__/Container.test.js.snap
  src/Components/PaletteCard/PaletteCard.test.js
  src/Components/PaletteForm/PaletteForm.test.js
  src/Components/ProjectNav/ProjectNav.js
  src/Components/ProjectNav/ProjectNav.test.js
Labels: test
